<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- xml方式对属性书写顺序有要求1.renderer 2.appender 
	3.plugin 4.logger 5.category 6.root 7.loggerfactory 8.categoryfactory -->
	
	<!-- 输出到控制台中 -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
        </layout>
    </appender>
    
	<!-- 输出到日志文件 每天一个日志[可配其他间隔时间]  --> 
    <appender name="activexAppender" class="org.apache.log4j.DailyRollingFileAppender">       
    	<!-- 设置日志文件路径及名称 -->
        <param name="File" value="E:/webmagic/logs/spiderDaily.log" />         
        <!-- 根据值中yyyy-MM-dd为每日，yyyy-MM为每月，yyyy-ww为每周等格式滚动一次日志文件
		前一次文件命名为：spiderDaily.log.yyyy-MM-dd.log,今日日志文件命名为：spiderDaily.log -->
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" /> 
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->     
        <param name="Append" value="true" />         
        <layout class="org.apache.log4j.PatternLayout">       
         <param name="ConversionPattern"         
            value="[%d{MM-dd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />       
        </layout>   
        <!--过滤器设置输出的级别-->
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="info" />
            <param name="LevelMax" value="error" />
            <param name="AcceptOnMatch" value="true" />
        </filter>     
    </appender> 
     
    <logger name="org.springframework" additivity="false">
        <level value="warn" />
        <appender-ref ref="stdout" />
    </logger>
    
    <logger name="net.sf.ehcache" additivity="false">
        <level value="warn" />
        <appender-ref ref="stdout" />
    </logger>
    
    <!-- 对activexAppender的输出屏蔽指定包日志-->
    <logger name="us.codecraft" additivity="false">     
        <level value="WARN" />     
    </logger>
    	
    <root>
        <priority value="info" />
        <appender-ref ref="stdout" />
        <appender-ref ref="activexAppender"/>
    </root>

</log4j:configuration>
